# Chapter 7 - Learning About Tuples

Tuples are another sequence type in Python. Tuples consist of a number of values that are separated by commas. A tuple is immutable whereas a list is not. Immutable means that the tuple has a fixed value and cannot change. You cannot add, delete or modify items in a tuple. Immutable objects are useful when you need a constant hash value. The most popular example is the key to a Python dictionary, which you will learn about in **chapter 7**.

## Creating Tuples

You can create tuples in several different ways. Let's take a look:

In [1]:
a_tuple = (4, 5)
type(a_tuple)

tuple

You can also cast a `list` into a `tuple` using the `tuple()` function:

In [2]:
a_tuple = tuple(['1', '2', '3'])
type(a_tuple)

tuple

## Working With Tuples

Tuples actually don't have a lot of ways to work with them due to the fact that they are immutable. If you were you run `dir(tuple())`, you would find that tuples have only two methods:

* `count()`
* `index()`

You can use `count()` to find out how many elements match the value that you pass in:

In [3]:
a_tuple = (1, 2, 3, 3)
a_tuple.count(3)

2

You can use `index()` to find the first index of a value:

In [4]:
a_tuple = (1, 2, 3, 3)
a_tuple[2]

3

Let's try to modify an element in your `tuple`:

In [5]:
a_tuple[0] = 8

TypeError: 'tuple' object does not support item assignment

## Concatenating Tuples

Tuples can be concatenated together. However, when you do that, you will end up creating a new tuple:

In [6]:
a_tuple = (1, 2, 3, 3)
id(a_tuple)

4437658264

In [9]:
a_tuple = a_tuple + (6, 7)
id(a_tuple)

4434750920

## Special Case Tuples

There are two special-case tuples. A `tuple` with zero items and a `tuple` with one item. The reason they are special cases is that the syntax to create them is a little different.

To create an empty tuple, you can do one of the following:

In [11]:
empty = tuple()
len(empty)

0

In [12]:
also_empty = ()
len(also_empty)

0

Now let's create a `tuple` with a single element:

In [13]:
single = 2,  # <-- Note the comma on the end
len(single)

1