# Chapter 9 - Learning About Sets

A `set` data type is defined as an "unordered collection of distinct hashable objects" according to the Python 3 documentation. You can use a `set` for membership testing, removing duplicates from a sequence and computing mathematical operations, like intersection, union, difference, and symmetric difference.

There is two types of `set` built-in to the Python language:

* `set` - which is mutable
* `frozenset` - which is immutable and hashable

This chapter will focus on `set`.

## Creating a Set

Creating a `set` is pretty straight-forward. You can create them by adding a series of comma-separated objects inside of curly braces or you can pass a sequence to the `set()` built-in function.

Let's look at an example:

In [2]:
my_set = {"a", "b", "c", "c"}
my_set

{'a', 'b', 'c'}

Now let's try creating a `set` using `set()`:

In [3]:
my_list = [1, 2, 3, 4]
my_set = set(my_list)
my_set

{1, 2, 3, 4}

## Accessing Set Members

You can check if an item is in a `set` by using Python's `is` operator

In [4]:
my_set = {"a", "b", "c", "c"}
"a" in my_set

True

Sets do not allow you to use slicing or the like to access individual members of the `set`. Instead, you would need to iterate over a `set`. You can do that using a loop, such as a `while` loop or a `for` loop. You won't be covering loops until **chapter 12**, but here is the basic syntax using a `for` loop:

In [6]:
for item in my_set:
    print(item)

a
b
c

## Changing Items

Once a `set` is created, you cannot change any of its items. 

However, you can add new items to a `set`. Let's find out how!

## Adding Items

There are two ways to add items to a `set`:

* `add()`
* `update()`

Let's try adding an item using `add()`:

In [7]:
my_set = {"a", "b", "c", "c"}
my_set.add('d')
my_set

{'a', 'b', 'c', 'd'}

If you'd like to add multiple items all at once, then you should use `update()` instead:

In [11]:
my_set = {"a", "b", "c", "c"}
my_set.update(['d', 'e', 'f'])
print(my_set)

{'a', 'b', 'e', 'd', 'c', 'f'}

Note that `update()` will take any iterable you pass to it. So it could take a `list`, `tuple` or `set` for example.

## Removing Items

You can remove items from sets in several different ways.

You can use:

* `remove()`
* `discard()`
* `pop()`

### Using .remove()

The `remove()` method will attempt to remove the specified item from a `set`:

In [10]:
my_set = {"a", "b", "c", "c"}
my_set.remove('a')
print(my_set)

{'b', 'c'}

If you happen to ask the `set` to `remove()` an item that does not exist, you will receive an error:

In [12]:
my_set = {"a", "b", "c", "c"}
my_set.remove('f')

KeyError: 'f'

### Using .discard()

The `discard()` method works in almost exactly the same way as `remove()` in that it will remove the specified item from the `set`:

In [13]:
my_set = {"a", "b", "c", "c"}
my_set.discard('b')

The difference with `discard()` though is that it **won't** throw an error if you try to remove an item that doesn't exist:

In [14]:
my_set = {"a", "b", "c", "c"}
my_set.discard('d')

### Using .pop()

The `pop()` method will remove and return an arbitrary item from the `set`:

In [17]:
my_set = {"a", "b", "c", "c"}
my_set.pop()

'a'

In [18]:
my_set

{'b', 'c'}

If your set is empty and you try to `pop()` and item out, you will receive an error

## Clearing or Deleting a Set

Sometimes you will want to empty a `set` or even completely remove it. 

To empty a `set`, you can use `clear()`:

In [19]:
my_set = {"a", "b", "c", "c"}
my_set.clear()
my_set

set()

If you want to completely remove the `set`, then you can use Python's `del` built-in:

In [20]:
my_set = {"a", "b", "c", "c"}
del my_set
my_set

NameError: name 'my_set' is not defined

## Set Operations

Sets provide you with some common operations such as:

* `union()` - Combines two sets and returns a new set
* `intersection()` - Returns a new set with the elements that are common between the two sets
* `difference()` - Returns a new with elements in the set that are not in the other set

These operations are the most common ones that you will use when working with `sets`.

The `union()` method is actually kind of like the `update()` method that you learned about earlier, in that it combines two or more sets together into a new set. However the difference is that it returns a new set rather than updating the original set with new items:

In [21]:
first_set = {'one', 'two', 'three'}
second_set = {'orange', 'banana', 'peach'}
first_set.union(second_set)

{'banana', 'one', 'orange', 'peach', 'three', 'two'}

In [22]:
first_set

{'one', 'three', 'two'}

In this example, you create two sets. Then you use `union()` on the first set to add the second set to it. However `union` doesn't update the `set`. It creates a new `set`. If you want to save the new `set`, then you should do the following instead:

In [23]:
united_set = first_set.union(second_set)
united_set

{'banana', 'one', 'orange', 'peach', 'three', 'two'}

The `intersection()` method will take two sets and returns a new `set` that contains only the items that are the same in the two sets.

Let's look at an example:

In [24]:
first_set = {'one', 'two', 'three'}
second_set = {'orange', 'banana', 'peach', 'one'}
first_set.intersection(second_set)

{'one'}

These two sets have only one item in common: the string "one". So when you call `intersection()`, it returns a new `set` with a single element in it. As with `union()`, if you want to save off this new `set`, then you would want to assign the result to a variable

The `difference()` method will return a new set with the elements in the set that are **not** in the other sets. This can be a bit confusing, so let's look at a couple of examples:

In [25]:
first_set = {'one', 'two', 'three'}
second_set = {'three', 'four', 'one'}
first_set.difference(second_set)

{'two'}

In [26]:
second_set.difference(first_set)

{'four'}

When you call `difference()` on the `first_set`, it returns a `set` with "two" as its only element. This is because "two" is the only string not found in the `second_set`. When you call `difference()` on the `second_set`, it will return "four" because "four" is not in the `first_set`.

There are other methods that you can use with sets, but they are used pretty infrequently. You should go check the documentation for full details on them though should you need to use them.